*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

html,body{
    height: 100%;
    width: 100%;
}

#page1{
    height: 100%;
    width: 100%;
    background-color: black;
}

#page2{
    height: 100%;
    width: 100%;
    background-color: lightblue;
}

#page3{
    height: 100%;
    width: 100%;
    background-color: black;
}

#page2 h1{
    font-size: 42vw;
    font-weight: 600;
    
}